<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Menù Lateral con Css</title>
	<link rel="stylesheet" href="/estilos.css">
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<h1>Logotipo</h1>
			</div>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="/perfil">Perfil personal</a>
			<a href="/perfilLaboral">Prefil Laboral </a>
			<a href="/perfilProfecional">Prefil Profecional </a>
			<a href="/encuesta">Encuesta </a>
			<a href="/logout">logout </a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
  <form action="/encuesta" method="post" class="formulario">
  <input hidden=true name="idUsuarios" value="<%= datos.idUsuarios %>" />

	<h1>PERFIL PROFESIONAL</h1>
	<fieldset>
  <legend>DATOS GENERALES</legend>
  <div class="pregresp">
  <div class="pregunta">1. Calidad de los docentes<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="pregunta1" value="Muy buena" /> Muy buena
    <input type="radio" name="pregunta1" value="Buena" /> Buena
    <input type="radio" name="pregunta1" value="Regular" /> Regular
    <input type="radio" name="pregunta1" value="Mala" /> Mala<br/>
  </div>
</div>
 <div class="pregresp">
  <div class="pregunta">2 Plan de Estudios: <br />
  </div>
  <div class="respuestas">
    <input type="radio" name="pregunta2" value="Muy buena" /> Muy buena
    <input type="radio" name="pregunta2" value="Buena" /> Buena
    <input type="radio" name="pregunta2" value="Regular" /> Regular
    <input type="radio" name="pregunta2" value="Mala" /> Mala
  </div>
</div>
 <div class="pregresp">
  <div class="pregunta">3 Oportunidad de participar en proyectos de Investigación y desarrollo: <br />
  </div>
  <div class="respuestas">
    <input type="radio" name="pregunta3" value="Muy buena" /> Muy buena
    <input type="radio" name="pregunta3" value="Buena" /> Buena
    <input type="radio" name="pregunta3" value="Regular" /> Regular
    <input type="radio" name="pregunta3" value="Mala" /> Mala
  </div>
</div>
 <div class="pregresp">
  <div class="pregunta">4 Énfasis que se le prestaba a la investigación dentro del proceso de enseñanza:<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="pregunta4" value="Muy buena" /> Muy buena
    <input type="radio" name="pregunta4" value="Buena" /> Buena
    <input type="radio" name="pregunta4" value="Regular" /> Regular
    <input type="radio" name="pregunta4" value="Mala" /> Mala
  </div>
</div>
 <div class="pregresp">
  <div class="pregunta">5 Satisfacción con las condiciones de estudio (infraestructura)<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="pregunta5" value="Muy buena" /> Muy buena
    <input type="radio" name="pregunta5" value="Buena" /> Buena
    <input type="radio" name="pregunta5" value="Regular" /> Regular
    <input type="radio" name="pregunta5" value="Mala" /> Mala
  </div>
</div>
 <div class="pregresp">
  <div class="pregunta">6 Experiencia obtenida a través de la residencia profesional <br />
  </div>
  <div class="respuestas">
    <input type="radio" name="pregunta6" value="Muy buena" /> Muy buena
    <input type="radio" name="pregunta6" value="Buena" /> Buena
    <input type="radio" name="pregunta6" value="Regular" /> Regular
    <input type="radio" name="pregunta6" value="Mala" /> Mala <br />
  </div>
</div>
  </fieldset>
  	<button class="button" type="submit">Guardar</button>

</form>
	</body>
</html>