<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Menù Lateral con Css</title>
	<link rel="stylesheet" href="/estilos.css">
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<h1>Logotipo</h1>
			</div>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="/perfil">Perfil personal</a>
			<a href="/perfilLaboral">Prefil Laboral </a>
			<a href="/perfilProfecional">Prefil Profecional </a>
			<a href="/encuesta">Encuesta </a>
			<a href="/logout">logout </a>
			
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>

    <form class="formulario">
        <h1>Gracias por realizar tu encuesta de titulacion</h1>
    </form>
	</body>
</html>