<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
    <title></title> 
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link rel="stylesheet" href="estilos.css">

	<title>Menù</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
		</div>
			<div class="logo">
			</div>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
	</div>
</div>
<!--	--------------->

    <div class="formulario2">
    
    <h1>Login</h1>
    <h3 >Bienvenido a tu encuesta de titulacion</h3>

     <div class="contenedor">
        <div class="input-contenedor">
        
         <form action="/login" method="POST"> 
             

         <div class="input-contenedor">
             <i class="fas fa-envelope icon"></i>
         <input type="email" placeholder="Correo Electronico" name="email" required>
         </div>
         
         <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Contraseña" name="password" required> 
         </div>
         <input type="submit" value="Login" class="button">
         </form>
         <br><br>
         <p>¿Estas Registrado? </br> !!Crea una cuenta!!</br> <a class="link" href="/registro">Registrate </a></p>
     </div>
    </div>
</body>
</html>