<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="logo">
				<h1></h1>
			</div>
		</div>
	</header>
	<div class="capa"></div>
    <div class="formulario">
    
    <h1>Login</h1>
    <h3>Bienvenido a tu encuesta de titulacion</h3>

     <div class="contenedor">
         <form action="/addRegistro" method="POST"> 
         <div class="input-contenedor">
         <input type="email" placeholder="Correo Electronico" name="email" required>
         </div>
         <div class="input-contenedor">
         <input type="password" placeholder="Contraseña" name="password" required> 
         </div>
         <button type="submit"  class="button">Regristarme</button>
         </form>
         <br><br>
     </div>
    </div>
</body>
</html>